/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body {
    height: 100vh;
    display: flexed;
    align-items: center;
    justify-content: center;
    background-color: #e4a870;
}

li {
    list-style-type: none;
    height: 28px;
    padding: 5px;
}

adli {
    height: auto;
}

.profil-goruntule {
    left: 0px;
    background-color: #e4a870;
    border: solid #e4a870;
    width: 50vw;
    height: 16vh;
    border-radius: 10px;
    color: white;
    margin-bottom: 6vh;
    margin-right: 7vw;
    font-size: 2.5vw;
    font-weight: bold;
    box-shadow: rgba(200, 150, 100, 0.5) 0px 15px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.updatebutton {
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    width: 20vw;
    border-radius: 80px;
    background-color: #e4a873;
    margin-top: 2vh;
    margin-bottom: 2vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

.profil-guncelle {
    border-radius: 10px;
    width: 50vw;
    padding: 50px;
    margin-right: 7vw;
    box-shadow: rgba(200, 150, 100, 0.5) 0px 15px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.kullanicimail {
    font-size: 18px;
    line-height: 30px;
}

.kullanicidt {
    line-height: 22px;
    font-size: 18px;
}

.kullaniciadi {
}
