@page
@model WebProjeleri2022.Pages.AdminModel
@{
}

<form asp-page-handler="Form" method="post">
    <div class="row g-3">
  <div class="col-md-6">
    <label class="form-label">TakimID</label>
    <input type="text" class="form-control" asp-for="proje.id">
  </div>
  <div class="col-md-6">
    <label class="form-label">Takim Adi</label>
    <input type="text" class="form-control" asp-for="proje.name">
  </div>
  <div class="col-12">
    <label class="form-label">Takim Adi</label>
    <input type="text" class="form-control" asp-for="proje.description">
  </div>
  <div class="col-12">
   <label class="form-label">Takim Adi</label>
   <input type="text" class="form-control" asp-for="proje.url">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Ekle/Guncelle</button>
  </div>
</div>
</form>
