@page
@model WebProjeleri2022.Pages.HakkimizdaModel
@{
}
@section Styles{
    <link rel="stylesheet" href="~/css/about.css">
     <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Our-Team</title>
</head>

<body>
    <div class="about-section">
        <div class="inner-container">
            <h1>RandomFun</h1>
            <p class="text">
                RandomFun, fotoğraf paylaşımı yapabileceğiniz, fotoğrafları beğenebileceğiniz ve fotoğraflara yorum yapabileceğiniz,
                oluşturulan rastgele içeriklerle etkileşimde bulunarak vaktinizi değerlendirebileceğiniz bir projedir.
            </p>
        </div>
    </div>
    <span class="containerr">
        <div class="header">
            <h1>Takım Üyeleri</h1>
        </div>
        <div class="sub-container">
            <div class="teams">
                <img src="https://media-exp2.licdn.com/dms/image/C4D03AQE3nbLBs_CtDA/profile-displayphoto-shrink_400_400/0/1615224622841?e=1660176000&v=beta&t=WOBd76rMCSE66uJYwsZZ-9RnnWE7F9nZYMIrrlWndpQ" alt="">
                <div class="name">Şeyma Aydın</div>
                <div class="desig">Bilgisayar Mühendisi</div>
                <div class="about">Marmara Üniversitesinde 4. Sınıf Bilgisayar Mühendisliği Öğrencisi</div>
                <i class="fa fa-envelope"> seyma@gmail.com</i>
                <div class="social-links">
                    <a href="https://symydnnn.github.io/" target="_blank"><i class="fa fa-link"></i></a>
                    <a href="https://www.linkedin.com/in/%C5%9Feyma-aydin-505a28171/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/symydnnn" target="_blank"><i class="fa fa-github"></i></a>                                     
                </div>
            </div>
            <div class="teams">
                <img src="https://media-exp2.licdn.com/dms/image/C4D03AQF7Wcduf9rW0w/profile-displayphoto-shrink_400_400/0/1654690905463?e=1660176000&v=beta&t=yf5Ipc80CRiIhbzRFmsbTULU5QMQrTfL5M1kH78nu1M" alt="">
                <div class="name">Dicle Kılıç</div>
                <div class="desig">Bilgisayar Mühendisi</div>
                <div class="about">Marmara Üniversitesinde 3. Sınıf Bilgisayar Mühendisliği Öğrencisi</div>
                <i class="fa fa-envelope"> diclekilic79@gmail.com</i>
                <div class="social-links">
                    <a href="https://ddiclekilic.github.io/" target="_blank"><i class="fa fa-link"></i></a>
                    <a href="https://www.linkedin.com/in/diclekilicc/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/ddiclekilic" target="_blank"><i class="fa fa-github"></i></a>
                </div>
            </div>
          <div class="teams">
                <img src="https://amacemirhan.github.io/assets/images/profile.jpg" alt="">
                <div class="name">Mehmed Emirhan Amaç</div>
                <div class="desig">Bilgisayar Mühendisi</div>
                <div class="about">Marmara Üniversitesinde 3. Sınıf Bilgisayar Mühendisliği Öğrencisi</div>
                <i class="fa fa-envelope"> emirhan@gmail.com</i>
                <div class="social-links">
                    <a href="https://amacemirhan.github.io/" target="_blank"><i class="fa fa-link"></i></a>
                    <a href="https://www.linkedin.com/in/amacemirhan/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/amacemirhan" target="_blank"><i class="fa fa-github"></i></a>
                </div>
            </div>
<div class="teams">
                <img src="https://e7.pngegg.com/pngimages/168/549/png-clipart-computer-icons-avatar-male-super-b-face-heroes.png" alt="">
                <div class="name">Muhammed Yusuf Macit</div>
                <div class="desig">Bilgisayar Mühendisi</div>
                <div class="about">Marmara Üniversitesinde 3. Sınıf Bilgisayar Mühendisliği Öğrencisi</div>
                <i class="fa fa-envelope"> macit@gmail.com</i>
                <div class="social-links">
                    <a href="https://muhammedyusufmacit.github.io/" target="_blank"><i class="fa fa-link"></i></a>
                    <a href="https://www.linkedin.com/in/muhammed-yusuf-macit-1487a1197/" target="_blank"><i class="fa fa-linkedin"></i></a>          
                    <a href="https://github.com/MuhammedYusufMacit" target="_blank"><i class="fa fa-github"></i></a>
                </div>
            </div>

        </div>
    </span>
</body>

</html>