@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RandomFun</title>
    <link rel="stylesheet" href="~/css/index.css">

</head>
<body>
    <div id="page">
        <div class="context">
            <h1><span class="auto-type"></span></h1>
        </div>


        <div class="area">
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
        var typed = new Typed(".auto-type", {
            strings: ["Random Fun!"],
            typeSpeed: 150,
            backSpeed: 120,
            loop: true
        })
    </script>

</body>

</html>

